<style>
        .container {
                padding: 50px;
                border-radius: 20px;
                border: 5px solid #444;
                margin: 100px;
                color: #fff;
                background-color: #333;
                text-align: center;
        }
</style>

<div class="container">
    <%= form_tag("/number/view", :method => "get") do %>
        <div class="mb-4">
            <div class="mb-2">Значения:</div>
            <%= text_area_tag :a, "121", class: 'form-control' %>
        </div>
        <%= submit_tag "Найти последовательности", class: "btn btn-primary mb-3" %>
    <% end %>

    <%= form_tag("/number/last_item", :method => "get") do %>
        <%= submit_tag "Найти последнюю последовательности", class: "btn btn-primary" %>
    <% end %>
</div>